export(
hts,
gts,
print.gts,
aggts,
allts,
forecast.gts,
window.gts,
accuracy.gts,
plot.gts,
summary.gts,
combinef,
smatrix,
MinT
)

S3method(print, gts)
S3method(forecast, gts)
S3method(window, gts)
S3method(plot, gts)
S3method(summary, gts)

import(forecast)
import(SparseM)
import(parallel)
import(Matrix)
import(matrixcalc)
importFrom("stats", "window")
importFrom("utils", "combn")
importFrom("grDevices", "rainbow")
importFrom("graphics", "lines", "par", "plot", "strwidth", "text")
importFrom("methods", "as", "new")
importFrom("stats", "as.ts", "fitted", "frequency", "is.ts", "na.omit",
           "residuals", "time", "ts", "tsp", "tsp<-")

useDynLib(hts)
